<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kotlin.jk.com.dagger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.jk.daggerrxkotlin.application.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_short_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jk.daggerrxkotlin.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="52815f589bd2a0305629f6f8d292a6c0c2a85d99" />

        <activity
            android:name="com.jk.daggerrxkotlin.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jk.daggerrxkotlin.WebActivity" />
        <activity
            android:name="com.jk.daggerrxkotlin.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>